<div class="security-question-screen" *ngIf="!isAnswerMatched">
    <h2>Reset Password</h2>
    <input type="email" class="emailForm" [(ngModel)]="email" placeholder="Enter your email" />
    <button (click)="getQuestion(email)" class="button primary">Verify Email</button>
    <div *ngIf="isVerified">
        <strong>{{ securityQuestion }}</strong>
        <input type="text" class="emailForm" [(ngModel)]="userAnswer" placeholder="Enter your answer" />
        <button (click)="checkAnswer(email,userAnswer)" class="button submit">Submit</button>
    </div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
</div>

<div class="reset-password-screen" *ngIf="isAnswerMatched">
    <h2>Reset Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(email)">
        <label for="password">Set New Password <span style="color: red;">*</span></label>
        <input id="password" class="password" type="password" formControlName="password" placeholder="Enter new password" required>
        <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched" class="error">
            <small *ngIf="resetPasswordForm.get('password')?.errors?.['required']"> Password is required.</small>
            <small *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']"> Password must be at least 8 characters long.</small>
            <small *ngIf="resetPasswordForm.get('password')?.errors?.['pattern']"> Password must include 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character.</small>
        </div>
        <button class="button primary" (click)="back()">Back</button>
        <button type="submit" [disabled]="!resetPasswordForm.valid" class="button submit">Reset</button>
    </form>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
</div>