<div class="header">
    <div class="logo-container">
        <img src="../../assets/logo.png" alt="Logo" class="logo">
    </div>
    <div class="welcome-message">
        Welcome {{data.username}}
    </div>
    <div class="profile" (click)="profileMenu()" [matMenuTriggerFor]="userMenu">
        <span>{{ data.username }}</span>
        <mat-icon>account_circle</mat-icon>
    </div>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="openEditPopup()">Edit Profile</button>
        <button mat-menu-item (click)="openDialog()">Add New Restaurant</button>
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

</div>

<div class="container">
    <div class="filter-bar">
        <input type="text" class="search-bar" placeholder="Search for restaurants" [(ngModel)]="searchTerm" />
    </div>
    <div class="restaurant-list">
        <div *ngIf="!restaurants" class="loading"><Strong>Loading...</Strong></div>
        <div *ngIf="filteredRestaurants().length === 0 && restaurants" class="no-restaurants-message">
            No restaurants found!
        </div>
        <div class="restaurant-card" *ngFor="let restaurant of filteredRestaurants()" (click)="viewRestaurant(restaurant,restaurant.resto_id,restaurant.restaurant_name,restaurant.restaurant_id)">
            <img class="restaurant-image" [src]="getFullImageUrl(restaurant.restaurant_logo)" alt="{{ restaurant.restaurant_name }} No pic" style="width: 100%; height: 200px; object-fit: cover;">

            <div class="restaurant-info"> 
                <h2 class="restaurant-name">{{ restaurant.restaurant_name }}</h2>
                <p class="restaurant-cuisine">{{ restaurant.cuisine_type }}</p>
                <p class="restaurant-rating"><Strong>Rating: {{ restaurant.average_rating }}</Strong></p>
                <p class="restaurant-status" [ngClass]="{'open': restaurant.status === 'Open', 'closed': restaurant.status === 'Closed'}"><Strong>Status: {{ restaurant.status }}</Strong></p>
            </div>
        </div>
    </div>
    
    <div *ngIf="isPopupVisible" class="popup-overlay">
        <div class="popup-container">
            <h2>Edit Profile Details</h2>
            <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input id="firstname" formControlName="firstname" type="text" placeholder="Enter First Name" />
                    <div *ngIf="editProfileForm.get('firstname')?.touched && editProfileForm.get('firstname')?.invalid" class= "error">
                        <small *ngIf="editProfileForm.get('firstname')?.hasError('required')">First name is required.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input id="lastname" formControlName="lastname" type="text" placeholder="Enter Last Name" />
                    <div *ngIf="editProfileForm.get('lastname')?.touched && editProfileForm.get('lastname')?.invalid" class= "error">
                        <small *ngIf="editProfileForm.get('lastname')?.hasError('required')">Last name is required.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" formControlName="email" type="email" placeholder="Enter Email" />
                    <div *ngIf="editProfileForm.get('email')?.touched && editProfileForm.get('email')?.invalid" class= "error">
                        <small *ngIf="editProfileForm.get('email')?.hasError('required')">Email is required.</small>
                        <small *ngIf="editProfileForm.get('email')?.hasError('email')">Invalid email format.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone_number">Phone Number</label>
                    <input id="phone_number" formControlName="phone_number" type="text" placeholder="Enter Phone Number" />
                    <div *ngIf="editProfileForm.get('phone_number')?.touched && editProfileForm.get('phone_number')?.invalid" class= "error">
                        <small *ngIf="editProfileForm.get('phone_number')?.hasError('required')">Phone number is required.</small>
                        <small *ngIf="editProfileForm.get('phone_number')?.hasError('pattern')">Invalid phone number format. Enter 10 to 15 digits.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea id="address" formControlName="address" rows="3" placeholder="Enter Address"></textarea>
                    <div *ngIf="editProfileForm.get('address')?.touched && editProfileForm.get('address')?.invalid" class= "error">
                        <small *ngIf="editProfileForm.get('address')?.hasError('required')">Address is required.</small>
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit" class="btn-submit">Save Changes</button>
                    <button type="button" class="btn-cancel" (click)="closeEditPopup()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

