<div class="background">
    <header>
        <div class="logo-container">
          <!-- <img src="../../assets/logo.png" alt="Logo" class="logo"> -->
        </div>
      </header>
      
    <div class="container">
        <!-- <h1>FOOD IN NEED</h1> -->
        <img src="../../assets/logo.png" alt="Logo" class="logo">
        <!-- <p>HUNGER ENDS HERE</p> -->
        <div class="button-group">
            <button (click)="restoLogin()" class="button primary">Restaurant</button>
            <button (click)="contributorLogin()" class="button contributor">Contributor</button>
            <button (click)="userLogin()" class="button secondary">Customer</button>
        </div>
        <div class="signup">
            New to Portal? <button (click)="signUp()" class="button signup">Sign Up</button>
        </div>
    </div>
</div>